// Default
html { 
    font-size: 62.5%;
}
body { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
    
}
*,
*::before,
*::after { 
    box-sizing: border-box;
}
.wrapper { 
    background-image: url('../image/foodies-bg.jpg');
}
.container { 
    max-width: 96rem;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: white;
}
//sass Define 
// /////////////////////////////////////// 

// Variable
$highlight  : #fe6847;
$text-gray:  #707070;
// Mixin 
@mixin flex ($align : stretch , $justify: flex-start, $wrap : nowrap, $dir: row) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
    flex-direction: $dir;
}
@mixin font ($size : 1.9rem, $weight: 300 ) {
    font-size: $size;
    font-weight: $weight;
}
@mixin size ($width, $height: $width){
    width: $width;
    height: $height;
}
// /////////////////////////////////////////

// header 
.cgray { 
    color: #889db8;
}
.sprites-icon {
    background-image: url('../image/ecommerce-web-allicon.png');
    background-repeat: no-repeat;
}
.social {
    @include flex(center, space-between);
    &__item {
        display: block;
        width: 2.7rem;
        height: 2.7rem;
        cursor: pointer;
        &:not(:last-child) {
            margin-right: 1.1rem;
        }
        &--facebook { 
            background-position: -38px 0;
        }
        &--twitter { 
            background-position: 0 0;
        }
        &--rss { 
            background-position: -76px 0;
        }
        &--mail { 
            background-position: -116px 0;
        }
    }
}
.shopping-cart {
    width: 14rem;
    height: 2.6rem;
    border: 1px solid #861f0a;
    border-radius: 1rem;
    background-image: linear-gradient(to bottom, #fff0ed , #fe6c4c);
    @include flex(center);
    &__shop {
        width: 50%;
        height: 100%;
        background-position: -3px -46px;
    }
    &__amount {
        width: 50%;
        text-align: center;
    }
    
}
.btn {

    &--icon16 {
        i {
            display: inline-block;
            width: 1.6rem;
            height: 1.6rem;
            margin: 0 .5rem;
        }
    }
    &--icon24 {
        i {
            display: inline-block;
            width: 2.4rem;
            height: 2.4rem;
        }
    }
    &--decor {
        background-image: linear-gradient(to bottom, #fff0ed,#fe6d4d);
    }
    &--rounded {
    }
}
.search-box {
    @include flex(center,center);
    width: 41.8rem;
    height: 3.3rem;
    background-image: url('../image/foodies-bg.jpg');
    position: relative;
    border-radius: .5rem .5rem 0 0;
    top:25px;
    left: 70px;
    button {
        height: 2.5rem;
        width: 8.3rem;
        border: 1px solid $highlight;
        padding: 0;
        cursor: pointer;
      span {
        vertical-align: 56%;
       @include font(1.1rem, 600);
       padding-left:0 .5rem;
      }
    }
    &__input {
        border: 1px solid #aca856;
        width: 30rem;
        height: 2.5rem;
    }
    &__search {
        background-position: -3px -147px;
    }
}
.header { 
    background-image: url('../image/foodies-head-bg.jpg');
    height: 17rem;
    .top-header { 
        height: 5.6rem;
        @include flex(center, space-between);
    }
    &__phone { 
        font-weight: 600;
    }
    .main-header {
        @include flex(center,space-between);
        &__navigation { 
          
        }
        &__menu-lists {
            @include flex(center,space-between);
           width: 63.6rem;
            
        }
        &__menu-item {
            // width: 8.7rem;
            height: 2.8rem;
            display: block;
            line-height: 2.8;
            padding: 0 1rem;
            a {
                display: block;
                font-weight: 600;
            }
            &:hover { 
                background-color: rgba($color: #000000, $alpha: .3) ;
                border-radius: .2rem;
            }
        }
        &__login-area {
            @include flex(stretch, center, nowrap, column );
            font-weight: 600;
            border: 1px solid #007f7e;
            height: 5.2rem;
            border-radius: .2rem;
            background-image: linear-gradient(to bottom, #e6f3f3, #45b9b9);
            a {
                display: block;
                height: 50%;
                line-height: 2.5;
                &:first-child { 
                    border-bottom: 1px solid #007f7e;
                }
                &:hover {
                    color: $highlight;
                }
            }
            
        }
        &__signin {
            background-position: -8px -90px;
        }
        &__register {
            background-position: -10px -117px;
        }
    }
}
.text--small {
   font-size: 2.5rem;
}
.text--highlight {
    color: $highlight;
}
.slider { 
    margin: 1.2rem 1.3rem 1rem 0;
    &__item {
        display: block;
        position: relative;
        cursor: pointer;
        &--active { 
            &::before {
                content: '';
                position: absolute;
                @include size(1rem, 2rem );
                clip-path: polygon(100% 0, 0 50%, 100% 100%);
                background-color: #fff;
                top: 50%;
                left: -1rem;
                transform: translateY(-50%);
            }
        }
        &:not(:last-child) {
            margin-bottom: .8rem;
        }
    }
    &__image { 
        @include size(16.7rem, 9.8rem );
        object-fit: cover;
    }
}
.branch {
    margin: 3rem 0 3.5rem 0;
    
    .container {
        padding: .6rem;
        box-shadow: 0 0 0 .6rem #ebe8b0;
        border-radius: .3rem;
        background-color: #fff;
    }
    .content {
        width: 94.8rem;
        @include flex(center, flex-end);
        position: relative;
        background-image: url('https://images.unsplash.com/photo-1513612254505-fb553147a2e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
        // background-repeat: no-repeat;
        background-position: -60px -235px;
        background-size: cover;
    }
    &__cta { 
        min-width: 25rem;
    }
    &__btn {
        display: block;
        @include size(17.8rem, 3.4rem );
        margin-top: 2.5rem;
        text-align: center;
        line-height: 2.4;
        border-radius: 1.4rem;
        box-shadow: 0 0 0 .5rem #d4cd58;
        border: 1px solid #d00e0e;
    }
    &__title {
        @include font(6rem, 400);
        color: #588313;
        span {
            display: block;
        }
    }
}

.box {
    &--shadow {
        box-shadow: 0 0 0 .5rem #d4cd58;
    }
    &--rounded {
        border-radius: .5rem;
        border : 1px solid #d2cf99;
    }
}
// main-content 
.main {
    .container { 
        @include flex(stretch, space-between);
    }
    &__left-side { 
        width: 21.95rem;
        @include flex(stretch, space-between, nowrap, column);

    }
    &__right-side { 
        @include flex(stretch, flex-start, nowrap, column);
        width: 72.15rem;
    }
    
}
.list { 
    @include flex(stretch,center, nowrap, column);
    &__item {
        margin-bottom: 1rem;
        cursor: pointer;
        &:hover { 
            color: $highlight;
        }
    }
}
.category {
    &__heading {
        margin: 1.5rem 0;
        @include size(100%, 3rem );
        @include font(2rem, 400);
        background-image: url('../image/foodies-categories-bg.png');
        position: relative;
        text-align: center;
        line-height: 1.5;
        color : white;
        &::before { 
            position: absolute;
            content: '';
            @include size(2.8rem, 2.6rem );
            background-image: url('../image/ecommerce-web-allicon.png');
            background-repeat: no-repeat;
            background-position: -52px -171px;
            left: -24px;
            top: 13%;
        }
    }
    &__list {
        margin : 0 0 2rem 5.7rem;
    }
}
.heading {
     margin-top: 3rem;
    &__icon {
        display: inline-block;
        @include size(2.1rem, 2.1rem);
        background-position: -6px -177px;
       margin-right: 1rem;
    }
    &__h3 {
        vertical-align: 4px;
        display: inline-block;
        @include font(2rem, 400);
        color: #707070;
    }
}
.review {
    
    &__item {
        @include flex(center,space-between);
        padding: 1.5rem 0;
        &:not(:last-child) {
            border-bottom: 1px solid #aca856;
        }
    }
    &__image {
        @include size(5.8rem, 5.6rem);
        object-fit: cover;
    }
    &__desc {
        max-width: 15rem;
        font-size: 1.2rem;
        &:hover {
            color: $highlight;
        }
    }
    &__date {
        display: block;
        color : #707070;
    }
    &__btn-read {
        display: block;
        @include size(10.9rem, 2.2rem );
        @include font (1.3rem , 600);
        border-radius: .9rem;
        color: $highlight;
        border: 1px solid #aca856;
        background-color: #f4f2d2;
        text-align: center;
        line-height: 1.5;
    }
}
.payment {
    .list-payment {
        display: grid;
        grid-template-columns: repeat(4,  1fr) ;
        grid-template-rows: repeat(2,  1fr);
        row-gap: .4rem;
        column-gap: .6rem;
        margin: 2.5rem 4rem 0 .5rem;
        &__item {
            display: block;
        }
        &__icon {
            display: block;
            @include size(4.1rem, 2.4rem );
            &--paypal {
                background-position:-152px -4px;
            }
            &--visa {
                background-position:-202px -4px;
            }
            &--master-card {
                background-position:-252px -4px;
            }
            &--discover {
                background-position:-295px -4px;
            }
            &--abc {
                background-position:-152px -34px;
            }
            &--weston {
                background-position:-202px -34px;
            }
            &--bank {
                background-position:-252px -34px;
            }
            &--monkey {
                background-position:-295px -34px;
            }
        }
    }  
}
.feature {
    .heading {
        margin-top: 0;
        margin-bottom: 1.5rem;  
    }
    &__list {
        padding : 1rem;
        @include flex(stretch);
        background-color: #fff;

    }
    &__item {
        // width: 33.33%;
        &:not(:first-child) {
            border-left: 1px solid #aca856;
        }
        &:nth-child(1) {
            padding-right: 1.7rem;
        }
        &:nth-child(2) {
            padding: 0 1.7rem;
        }
        &:nth-child(3) {
            padding-left: 1.7rem; 
        }
    }
    &__image {
        @include size(20.7rem, 10.2rem );
        object-fit: cover;
        border-radius: .5rem;
    }
    &__btn{
        display: block;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        color: $highlight;
    }
}
.information {
    &__desc {
        font-size: 12px;
        margin: 2rem 0;
    }
    &__amount {
        @include font(1.5rem, 600);
        color : #228281;
    }
}
.popular {
    .heading {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 2.5rem;
        column-gap: 2.5rem;
    }
    &__image{ 
        @include size(16rem, 11.6rem );
        object-fit: cover;
    }
    .information {
        &__desc {
            margin-top: 0;
        }
    }
    &__cta {
        @include flex(center, space-between);
        padding: 1.5rem 1rem;
    }
    &__btn {
        @include size(6rem, 1.8rem );
        display: block;
        @include font (1.3rem , 600);
        border-radius: .7rem;
        color: $highlight;
        border: 1px solid #aca856;
        background-color: #f4f2d2;
        text-align: center;
        line-height: 1;
    }
    .block-like {
        @include flex(center,space-between);
        width: 40%;
        &__count {
            display: inline;
            color: $text-gray;
        }
        &__btn
        {
            @include size(1.6rem, 1.6rem );
            display: inline-block;
            background-position: -9px -216px;
        }
    }
}
.pagination {
    margin: 3rem 0 0 0;
    &__bar {
        height: 1px;
        width: 100%;
        background-color: #aca856;
    }
    &__list {
        margin-top: 2rem;
        @include flex(center,center);
    }
    &__item {
        display: block;
        @include size(2.1rem);
        transition: all 1s ease;
        text-align: center;
        line-height: 1.5;
        a {
            color: $highlight;
            display: block;
        }
        &:hover {
            a{ 
                color : white;
            }
            background-color: #aca856;
        }
        &--next {
            width: 5rem;
        }
    }
}

// footer 
.footer {
    background-image: url('../image/foodies-footer-bg.jpg');
    background-repeat: no-repeat;
    background-position:0 -11px;
    .content {
        padding-top: 6rem;
        @include flex(stretch, space-between);
        a {
            display: block;
            color :#cfcfcf;
            margin-bottom: .5rem;
        }
    }
    &__title {
        @include font(1.5rem, 600 );
        padding-bottom: 3rem;
        color: white;
    }
    &__comunication {
        .footer__title {
          padding-bottom: 2rem;
        }
        .social {
            justify-content: left;
            margin-bottom: 2rem;
        }
        
    }
    &__subcribe-text {
        margin: -2rem 0 1rem 0;
        color :#cfcfcf;
    }
    &__form-sub {
        height: 2.3rem;
        input , button {
            height: 100%;
            border : none;
        }
        input {
            outline: none;
        }
        button {
            cursor: pointer;
        }

    }
    &__promo {

        .commitment {
            &__logo {
                background-position: -141px -96px;
            }
           
        }
        .shipping {
            &__logo {
                background-position: -143px -158px;
            }
            &__desc {
                align-self: flex-end;
            }
        }
        .commitment , .shipping {
            @include flex (center, center);
            &__logo {
                display: inline-block;
                @include size(6rem, 5rem );
            }
            &__desc {
                display: inline-block;
                width: 12rem;
                color: #cfcfcf;
            }
        }
    }
    .copyright {
        color: #cfcfcf;
        span {
            color: $highlight;
        }
    }
    .gotop {
        display: none;
        @include font(2rem, 600 );
        color: white;
        position: fixed;
        right: 10rem;
        bottom: 10rem;
        cursor: pointer;
        &__logo {
            display: block;
            @include size(3rem, 5rem );
            background-position: -150px -231px;
        }   
    }
}