:root{
    --primary-color: #0099ff;
    --text-color-gray: #9f9f9f;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Neuton', serif;
}
*,
*:before,
*:after { 
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.wrapper {
    max-width: 100rem;
    /* background-color: aqua; */
    margin: 0 auto;
}
.container {
    max-width: 99rem;
    margin: 0 auto;
  
}
img { 
    display: block;
    max-width: 100%;
}
a {
    text-decoration: none;
    display: inline-block;
}
/* header */
.topbar {
    height: 6rem;
    background-color: #2e2e2e;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0 -2rem 0 2rem #2e2e2e;
}
.topbar__menu { 
    font-size: 1.5rem;
    /* line-height: 6rem; */
}
.topbar__menu, .topbar__menu a {
    color : var(--text-color-gray);
}
.topbar__social > a {
    display: inline-block; 
    background-color: #9f9f9f;
    text-align: center;
}
.topbar__social > a:hover { 
    background-color: #db4a39;
    cursor: pointer;
}
.topbar__social i { 
    font-size: 2rem;
    color: white;
    line-height: 3.2rem;
}

.social__item {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    margin: 0 0.5rem;
}
.social__item:last-child {
    margin-right: 0 ;
}
.topbar::after { 
    content: "";
    width: 1rem;
    height: .2rem;
    position: absolute;
    background-color: white;
    right : 1rem;
    bottom: -1.6rem;
}
.topbar::before { 
    content: "";
    position: absolute;
    width: 3.2rem;
    height: 3.2rem;
    background-color: #2e2e2e;
    right : 0;
    bottom: -3.2rem;
    border-radius: 0 0 .5rem .5rem;
}
header { 
    margin-bottom: 10rem;
}
.topNavigation {
    padding: 4rem 0;
}

.menu__item {
    display: inline-block;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 0 1rem;
}
.menu__item:first-child {
    padding-left: 0;
}
.menu__item:last-child { 
    padding-right: 0;
}
.menu__item:hover { 
    color: var(--text-color-gray);
    cursor: pointer;
}
.dropdown { 
    position: relative;
}
.submenu {
    position: absolute;
    visibility: hidden;
    
    color: #000000;
}
.submenu__item {
    margin:.5rem 0;
    z-index: 1;
}
.dropdown:hover .submenu__item {
    visibility: visible;
    background-color: var(--text-color-gray);
}
.topNavigation__progressbar { 
    width: 100%;
    height: 1.2rem;
    background-color: var(--text-color-gray);
}
.percent { 
    margin-top: 2rem;
    height: 100%;
    width : 9rem;
    background-color: var(--primary-color);
}
.logo {
    font-size: 4.8rem;
    font-weight: 400;
    float: left;
}
.logo__text { 
    float : left;
    width: 100%;
    color: var(--text-color-gray);
    font-size: 1.6rem;
}
.searchForm { 
    float: right;
    margin-top: 3.2rem;
}
.searchForm__inp { 
    background-color: var(--text-color-gray);
    height: 3rem;
    border: none;
    border-radius: .5rem;
    outline: none;
}
.btn {
    height: 3rem;
    border: none;
    color : white;
    border-radius: .5rem;
    text-transform: uppercase;; 
}
.btn--primary { 
    background-color: var(--primary-color);
}
 
.intro {
    height: 46.5rem;
    clear: both;
    display: flex;
    justify-content: space-between;
    background-color: #f1f1f1;
    position: relative;
}
.intro::after {
    content: '';
    position: absolute;
    width: 100rem;
    height: 100%;
    background-color: #f1f1f1;
    z-index: -1;
    left: -2rem;
}
.intro__branch { 
    flex-basis: 37%;
    margin: auto 0;
    /* border-bottom: 1rem solid currentColor; */
}
.branch__title { 
    font-size: 4.8rem;
    font-weight: 400;
}
.branch__desc { 
  
    font-size: 2.1rem;
    color : var(--text-color-gray);
    margin: 1rem 0;
}
.intro__carousel { 
    flex-basis: 60%;
    margin: auto 0 ;
}
.intro__carousel img { 
    width : 55rem;
    height: 44rem;
    object-fit: cover;
}
.carousel-indicators{
    margin-left: 0;
    justify-content: left;
}
.carousel-indicators li {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background-color: black;
}
.btn_details { 
   width: 12.5rem;
}

/* feature section */
.flex { 
    display: flex; 
}
.feature { 
    margin: 4rem 0; 
    justify-content: space-between;
    height: 42.5rem;
}
.feature__left { 
    width: calc(50% - 1rem);
}
.feature__left > img { 
    height : 100%;
}
.feature__right {
    flex-wrap: wrap;
    justify-content: space-between;
    height: 42rem;
    width: calc(50% - 1rem);
}
.right__item { 
    width: calc(50% - 1rem);
    text-align: center;
}
.right__item > img { 
    height: 8rem;
    width: 8.5rem;
    object-fit: cover;
    margin: 0 auto;
}
.item__title { 
    color: var(--primary-color);
    font-size: 2.1rem;
}
.item__desc { 
    color: var(--text-color-gray);
    font-size: 1.7rem;
}
.shout { 
    align-items: center;
    justify-content: space-around;
    background-color: #e0e0e0;
    position: relative;
}
.shout__marketing-text { 
    width: calc(65%);
    margin-left: 2rem;
}
.shout__marketing-text::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 100%;
    background-color: var(--primary-color);
    left: 0;
}
.shout__marketing-text > h2 { 
    font-size: 4.8rem;
    font-weight: 400;
}
.shout__marketing-text > p {
    font-size: 2.4rem;
    color : var(--text-color-gray);
}
.shout__contact { 
    width: calc(35% - 2rem);
    justify-content: center;
    align-items: center;
}
.btn--contact { 
    height: 6rem;
    width: 28rem;
    font-size: 3rem;
}
.footer{
    height: 39rem;
    margin: 4rem 0;
    padding-top: 3rem;
    justify-content: space-between;
    background-color: #000000;
    position: relative;
}
.footer::after{
    content: '';
    position: absolute;
    width: 100rem;
    height: 100%;
    background-color: #000000;
    z-index: -1;
    left: -2rem;
    top: 0;
}
.footer p {
    color: var(--text-color-gray);
    font-size: 1.7rem;
}
.footer a{ 
    font-size: 1.7rem;
}
.footer__category {
   width: calc(25% - 2rem);
}
.footer .title  {
    font-size: 1.7rem;
    color: white;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.about>img {
    height: 9rem;
    width: 21.5rem;
    object-fit: cover;
}
.about>p {
    margin-top: 1.5rem;
}
.readmore {
   float: right;
    text-transform: capitalize;
}
.blog { 
    flex-direction: column;
}
.blog h6 {
    font-size: 1.7rem;
    text-transform: capitalize;
    color: var(--text-color-gray);
}
.blog .desc { 
    margin-top: 1rem;
    max-width: 100%;
} 
.contact input  {
    width: 100%;
    height: 3rem;
    background-color: var(--text-color-gray);
    border-radius: .5rem;
    padding: 1rem;
    outline: none;
    font-size: 1.7rem;
    margin-bottom: .5rem;
}
.contact textarea { 
    width: 100%;
    outline: none;
    font-size: 1.7rem;
    background-color: var(--text-color-gray);
    border-radius: .5rem;
    margin-bottom: 0.5rem;
}
.btn--submit { 
    width: 7.5rem;
}
